<h1>Results</h1>
<h3>Player 1 Chose: $player1</h3>
<h3>Player 2 Chose: $player2</h3>
<br>
<h2 id="results">$resultstwoplayer</h4>
<br>
<a href="/home"><button name="playagain" id="playagain" type="submit"></button></a>
<h4>Play Again</h4>
